.gameName{
  text-align: center;
  padding: 20px;
  color: red;
}
.GameContainer{
  margin: auto;
  width: 50%;
 display: flex;
 padding: 30px; 
}
.GameBoard{
width: 560px;
height: 560px;
display: flex;
flex-wrap: wrap;
}
.GameBoard img{  
  width: 70px;
  height: 70px;
}